---
import MainLayout from "../../layouts/mainLayout.astro";
const { title, buttonText, windowTitle } = Astro.props;
---

<MainLayout title={windowTitle}>
  <form id="register" title="Registro de Usuario">
    <h1>{title}</h1>
    <slot />
    <button type="submit">{buttonText}</button>
  </form>

  <script>
    try {
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("register");

        form.addEventListener("submit", (e) => {
          e.preventDefault();
          const inputs = form.querySelectorAll("input");
          const data = {};
          inputs.forEach((input) => {
            data[input.name] = input.value;
          });

          let users = JSON.parse(localStorage.getItem("registerData"));
          if (!Array.isArray(users)) {
            users = [];
          }

          if (
            users.some(
              (user) => user.email == data.email || user.user == data.user
            )
          ) {
            alert("El usuario o correo ya existen");
            return;
          }

          users.push(data);
          localStorage.setItem("registerData", JSON.stringify(users));
          alert("Registro exitoso");
          form.reset();
        });
      });
    } catch (error) {
      console.log("Error: ", error);
    }
  </script>
</MainLayout>
