<gabrielBio>
  <div id="modal-gabriel" style="display: none;">
    <div>
      <button id="close-modal-gabriel">X</button>
      <h2>Gabriel Ledesma</h2>
      <p>Desarrollador web, estudiante y entusiasta de la tecnología.</p>
      <p>Contacto: <a href="gabrielledesmadiaz@gmail.com">gabrielledesmadiaz@gmail.com</a></p>
    </div>
  </div>
</gabrielBio>