<matiasBio>
  <div id="modal-matias" style="display: none;">
    <div>
      <button id="close-modal-matias">X;</button>
      <h2>Stefano Reaño</h2>
      <p>Desarrollador web, estudiante y entusiasta de la tecnología.</p>
      <p>Contacto: <a href="victorstefanorc@gmail.com">stefano@email.com</a></p>
    </div>
  </div>
</matiasBio>