<stefanoBio>
  <div id="modal-stefano" style="display: none;">
    <div>
      <button id="close-modal">X;</button>
      <h2>Stefano Reaño</h2>
      <p>Desarrollador web, estudiante y entusiasta de la tecnología.</p>
      <p>Contacto: <a href="mailto:stefano@email.com">stefano@email.com</a></p>
    </div>
  </div>
</stefanoBio>